<link rel="stylesheet" href="/stylesheets/create.css">
<script src="js/faker.js"></script>
<script src="js/game-create.js"></script>
<div id="container">
    <div id="roomEntry">Room ID
        <form id="roomForm" name="join-room">
            <input id="playerRoomField" type="text" name="room-id" autofocus autocomplete="off">
            <input id="roomSubmit" type="submit" value="GO">
        </form>
    </div>
    <div id="message" class="middle-message"></div>
    <div id="curtain"></div>
    <div id="username"></div>
    <div class="topbar">
        <img src="images/create/title.png" alt="Sammich Artist" />
    </div>
    <div class="make-intro font-moonflowerbold">Make a:</div>
    <div class="sandwich-name font-moonflowerbold">SANDWICHNAME</div>
    <div class="sandwich-top"><img src="images/sammich-top.png"></div>
    <div class="sandwich">
        <div class="ingredient">
            <div class="ingredient-caption">pickle</div>
            <div class="ingredient-image"></div>
        </div>
    </div>
    <div class="sandwich-bottom"><img src="images/sammich-bottom.png"></div>
    <div class="submission"><input class="font-moonflowerbold" id="sandwichSend" type="button" value="Send"></div>
</div>