<script src="js/game-host.js"></script>
<div id="container">
    <div id="roomCode" class="font-moonflowerbold"></div>
    <div id="message" class="font-moonflowerbold"></div>
    <div id="players"></div>
</div>