<!-- Hydra -->
<script src="/socket.io/socket.io.js"></script>
<script src="js/jquery-1.6.2.js"></script>
<script src="js/faker.js"></script>
<!-- End Hydra -->

<!-- Midi Includes -->
<script src="https://cdn.jsdelivr.net/npm/webmidi@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.1/dat.gui.js"></script>
<script src="js/midi.js"></script>
<!-- End Midi Includes -->

<link rel="stylesheet" href="stylesheets/midi.css">

<div id="piano"></div>