<!-- Hydra -->
<script src="/socket.io/socket.io.js"></script>
<script src="js/jquery-1.6.2.js"></script>
<script src="js/faker.js"></script>
<!-- End Hydra -->

<!-- Midi Includes -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.1/dat.gui.js"></script>
<script src='//unpkg.com/mpe@1.0.4/lib/mpe.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.1.6/Tone.js"></script>
<script src="js/mpe.js"></script>
<!-- End Midi Includes -->

<link rel="stylesheet" href="stylesheets/mpe.css">

<div id="piano"></div>